.auth-wrapper {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2px auto;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.auth-wrapper > div {
  border: 1px solid #c8c8c8;
}

.form-container {
  border: 1px solid #dddcdceb;
  border-radius: 12px;
  padding: 12px;
}

.form-container Flex * {
  padding-left: 20px;
}

.auth_btn_container{
  display: flex;
  justify-content: space-between;
}